<section id="contact-us" class="py-5 background4" >
    <div class="container">
        <h3 class="text-center" >Contact Us</h3>
        <div class="row">
            <div class="col-md-12">

                <form action="/process-contact-form" method="post">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">your email address</label>
                        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="contactNumber" class="form-label">Contact Number</label>
                        <input name="phone" type="number" class="form-control" id="contactNumber">
                    </div>
                    <div class="form-floating mb-5">
                        <textarea name="query" class="form-control" style="height: 150px;" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Comments</label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</section>